<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <title> One Space </title>
  <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <script src="/static/js/app.js" defer></script>
</head>
<body style="background-color: black">

  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
  	<div class="navbar-header d-flex col">
      <img src="{% static "img/player.png" %}" width="55" height="55" alt="">
  		<a class="navbar-brand" href="/">Music<b>Space</b></a>
  		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
  		</button>
  	</div>

  	<!-- Collection of nav links, forms, and other content for toggling -->
  	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
  		<ul class="nav navbar-nav navbar-right ml-auto">
        <a class=" btn btn-success font-weight-bold" role="button" href="/sign_in" style="color: whitesmoke">Login with Spotify</a>
  			<!-- <li class="nav-item">
  				<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="/" style="color: whitesmoke"> Login </a>
  				<ul class="dropdown-menu form-wrapper">
  					<li>
  						<form action="/" method="POST">
                {% csrf_token %}
  							<div class="form-group">
  								<input type="text" class="form-control" placeholder="Email" required="required">
  							</div>
                <div class="form-group">
  							<input type="password" class="form-control" placeholder="Password" required="required">
  							</div>
  							<input type="submit" class="btn btn-primary btn-login" value="Login">
  							<div class="form-footer">
  								<a href="#">Forgot Your password?</a>
  							</div>
  						</form>
  					</li>
  				</ul>
  			</li> -->
  			<!-- <li class="nav-item">
  				<a href="/" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1"> Sign up </a>
  				<ul class="dropdown-menu form-wrapper">
  					<li>
  						<form class="searchbar" action="/" method="post">
                {% csrf_token %}
  							<p class="hint-text">Fill in this form to create your account!</p>
  							<div class="form-group">
  								<input type="text" class="form-control" placeholder="First Name" required="required">
  							</div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Last Name" required="required">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" required="required">
                </div>
  							<div class="form-group">
  								<input type="password" class="form-control" placeholder="Password" required="required">
  							</div>
  							<div class="form-group">
  								<input type="password" class="form-control" placeholder="Confirm Password" required="required">
  							</div>
  							<div class="form-group">
  								<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
  							</div>
  							<input type="submit" class="btn btn-primary btn-block" value="Sign up">
  						</form>
  					</li> -->
  				</ul>
  			</li>
  		</ul>
  	</div>
  </nav>
  <div class="swiper-container swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="img-fluid" src="/static/img/image4.jpg" alt="My image" ></div>
      <div class="swiper-slide"><img class="img-fluid" src="/static/img/image5.jpg" alt="My image" ></div>
      <div class="swiper-slide"><img class="img-fluid" src="/static/img/image3.jpg" alt="My image" ></div>
      <div class="swiper-slide"><img class="img-fluid" src="/static/img/image2.jpg" alt="My image" ></div>
      <div class="swiper-slide"><img class="img-fluid" src="/static/img/image1.jpg" alt="My image" ></div>
    </div>
    <div class="swiper-pagination swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="container">
    <div class="row">
      <form class="search" action="/search_track" method="POST">
        {% csrf_token %}
        <input class="form-control" type="text" name="track" placeholder="Search For Your Favorite Song!!">
        <button class="btn btn-info" type="submit" name="button" > Search </button>
      </form>
      <div class="dropdown dropright">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
           Categories
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/genreresult">GENRE & MOODS</a>
          <a class="dropdown-item" href="/new_releases">NEW RELEASES</a>
          <a class="dropdown-item" href="/">CHARTS</a>
          <a class="dropdown-item" href="/">CONCERTS</a>
        </div>
     </div>
    </div>
  </div>

  <div class="footer">
    <div class="swiper-container swiper-1">
      <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/static/img/image4.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image5.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image3.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image2.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image1.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image4.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image5.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image3.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image2.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image1.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image4.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image5.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image3.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image2.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image1.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image4.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image5.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image3.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image2.jpg" alt="Myimage"></div>
          <div class="swiper-slide"><img src="/static/img/image1.jpg" alt="Myimage"></div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>
